@model Question
<body>
    @using (Html.BeginForm("VerifyData", "Question", FormMethod.Post))
    {

        @if (Model.whichScreen == "I")
        {
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <p>Please answer the following question:</p>
                    </div>
                </div>
            </div>
        }
        @if (Model.whichScreen == "C")
        {
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-success">
                        <p>Thats CORRECT! Here's another question:</p>
                    </div>
                </div>
            </div>
        }
        @if (Model.whichScreen == "W")
        {
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-danger">
                        <p>Sorry, that is incorrect, please try again.</p>
                    </div>
                </div>
            </div>
        }
        @if (Model.whichScreen == "F")
        {
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <p>You have finished the test. And by the way, you got that last question right.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <p>&nbsp;</p>
                    </div>
                </div>
            </div>
        }

        @if (Model.whichScreen != "F")
        {
            <div class="container">
                <div class="form-check">
                    <div class="row">
                        <div class="col-md-12">
                            <p>@Model.question</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label class="form-check-label" for="radio1">
                                <input type="radio" class="form-check-input" id="radio1" name="UserAnswer" value="1">@Model.answer_1
                            </label>
                        </div>
                        <div class="col-md-6">
                            <label class="form-check-label" for="radio2">
                                <input type="radio" class="form-check-input" id="radio1" name="UserAnswer" value="2">@Model.answer_2
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label class="form-check-label" for="radio3">
                                <input type="radio" class="form-check-input" id="radio1" name="UserAnswer" value="3">@Model.answer_3
                            </label>
                        </div>
                        <div class="col-md-6">
                            <label class="form-check-label" for="radio4">
                                <input type="radio" class="form-check-input" id="radio4" name="UserAnswer" value="4">@Model.answer_4
                            </label>
                        </div>
                    </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <p>&nbsp;</p>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-12">
                        <input type="hidden" value="@Model.questions_right" name="questions_right" />
                        <input type="hidden" value="@Model.questions_tried" name="questions_tried" />
                        <input type="hidden" value="@Model.question_id" name="question_id" />
                        <input type="hidden" value="@Model.correct_answer" name="CorrectAnswer" />
                        <input type="hidden" value="@Model.chapter" name="chapter" />
                        <input type="submit" value="Submit your answer" class="btn btn-primary" />
                    </div>
                </div>
            </div>
        }
    }
</body>
